.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 110px;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #4070f4;
}

.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}

.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  height: 100%;
}

.text-data .name {
  font-size: 22px;
  font-weight: 500;
}

.text-data .job {
  font-size: 15px;
  font-weight: 400;
}

.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.buttons .button {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons .button:hover {
  background-color: #0e4bf1;
}

#buttons {
  margin-bottom: 60px;
}

.data {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 0;
}

.text-data span:nth-child(8) {
  margin-top: 50px;
  font-weight: 800;
}

.name2 {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 800;
}

.proint {
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
  display: inline-block;

}


/*Loading*/
.dots{
  display: flex;
  height: 50vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.dots span {
  position: absolute;
  height: 10px;
  width: 10px;
  background: blue;
  border-radius: 50%;
  transform: rotate(calc(var(--i) * (360deg / 15))) translateY(35px);
  animation: animate 1.5s linear infinite;
  animation-delay: calc(var(--i) * 0.1s);
  opacity: 0;
}

@keyframes animate {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}